:root {
  --color-primary: #212121;
  --color-brand: #2196f3;
  --color-secondary: #757575;
  --color-light: #fff;
  --color-bg-dark: #2f303a;
  --color-logo: #000;
  --color-accent: #188ce8;
  --section-team-bg-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-primary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--color-logo);
}

.header-logo .accent {
  color: var(--color-brand);
}

.header-link {
  font-weight: 500;
  font-size: 1.17;
  color: var(--color-primary);
}

.header-link:hover {
  color: var(--color-brand);
}
.header-link:focus {
  color: var(--color-brand);
}

.contacts-link {
  font-weight: 500;
  line-height: 1.17;
  color: var(--color-secondary);
}

.contacts-link:hover {
  color: var(--color-brand);
}
.contacts-link:focus {
  color: var(--color-brand);
}

/* Hero section */
.hero-section {
  background-color: var(--color-bg-dark);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  font-family: 'Roboto', sans-serif;
  color: var(--color-light);
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: none;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-light);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hero-button-portfolio {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.48px;
  cursor: pointer;
}

.hero-button-portfolio:hover {
  background-color: var(--color-brand);
  color: var(--color-light);
}
.hero-button-portfolio:focus {
  background-color: var(--color-brand);
  color: var();
}
/* Benefits section */
.benefit-title {
  font-weight: 700;
  text-transform: uppercase;
}
.benefit-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-secondary);
}

.benefit-titles {
  font-size: 18px;
  color: var(--color-primary);
}
.benefit-texts {
  font-size: 16px;
  color: var(--color-secondary);
}

/* Team secton */

.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}
.person-job {
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-secondary);
}

/* Footer */
.footer {
  background-color: var(--color-bg-dark);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--color-light);
}

.footer-logo .accent {
  color: var(--color-brand);
}

.address-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  color: var(--color-light);
  font-style: normal;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  color: #fff9;
  font-style: normal;
}
.footer-link:hover {
  color: var(--color-brand);
}
.footer-link:focus {
  color: var(--color-brand);
}
.address-link:hover {
  color: var(--color-brand);
}
.address-link:focus {
  color: var(--color-brand);
}
